<html>
    <head>
        <title>Whatsapp Chat Output</title>
        <meta name='viewport', content='width=device-width, initial-scale=1'/>
        <link rel='stylesheet', href='../template/style.css'/>
    </head>
    <body>
        <% for(var i =0; i < messages.length; i++) { %>
        <div class="message-wrapper">
            <div><%= messages[i].sender %></div>
            <div class="message <%= messages[i].outbox ? 'right' : 'left'%>">
                <% for(var j =0; j < messages[i].lines.length; j++) { -%>
                    <% if (messages[i].lines[j].type == 'TEXT') { -%>
                        <div><%- messages[i].lines[j].content %></div>
                    <% } else if (messages[i].lines[j].type == 'IMAGE') { -%>
                        <img src='<%= messages[i].lines[j].content%>'>
                    <% } else if (messages[i].lines[j].type == 'VIDEO') { -%>
                        <video src='<%= messages[i].lines[j].content%>'>
                    <% } else if (messages[i].lines[j].type == 'AUDIO') { -%>
                        <audio src='<%= messages[i].lines[j].content%>'>
                    <% } else if (messages[i].lines[j].type == 'ATTACHMENT') { -%>
                        <div>ATTACHMENT</div>
                    <% } -%> 
                <% } -%>
                <div class="date"><%= messages[i].date %></div>
            </div>
        </div>
        <br/>
        <% } -%>
    </body>
</html>